In [36]:
import pandas as pd

In [38]:
df=pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/817204ac-2202-4b4a-98e7-4184d154d98c", sep="|", dtype={'Code postal':str})
df

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18,23,24,26,28,30,31,33,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Code service sages,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2021,Vente,...,NaN,0,1.0,Maison,NaN,97.0,5.0,S,NaN,2410.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2021,Vente,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,2410.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2021,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,530.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2021,Vente,...,NaN,0,1.0,Maison,NaN,88.0,4.0,S,NaN,866.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2021,Vente,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,1426.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12/03/2021,Vente,...,NaN,2,2.0,Appartement,NaN,30.0,2.0,NaN,NaN,NaN
4375219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,17/03/2021,Vente,...,NaN,2,2.0,Appartement,NaN,37.0,2.0,NaN,NaN,NaN
4375220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,19/03/2021,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
4375221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30/03/2021,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
4375222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,19/03/2021,Vente,...,NaN,2,4.0,Local industriel. commercial ou assimilé,NaN,56.0,0.0,NaN,NaN,NaN

In [39]:
df2=df[['Nature mutation','Valeur fonciere','Code postal','Commune','Code type local','Surface reelle bati','Surface terrain']]
df2

,Nature mutation,Valeur fonciere,Code postal,Commune,Code type local,Surface reelle bati,Surface terrain
0,Vente,"185000,00",1370,VAL-REVERMONT,1.0,97.0,2410.0
1,Vente,"185000,00",1370,VAL-REVERMONT,3.0,0.0,2410.0
2,Vente,"10,00",1290,BEY,NaN,NaN,530.0
3,Vente,"204332,00",1310,BUELLAS,1.0,88.0,866.0
4,Vente,"320000,00",1250,MONTAGNAT,3.0,0.0,1426.0
...,...,...,...,...,...,...,...
4375218,Vente,"383000,00",75004,PARIS 04,2.0,30.0,NaN
4375219,Vente,"260000,00",75002,PARIS 02,2.0,37.0,NaN
4375220,Vente,"38000,00",75004,PARIS 04,3.0,0.0,NaN
4375221,Vente,"38000,00",75004,PARIS 04,3.0,0.0,NaN
4375222,Vente,"690000,00",75002,PARIS 02,4.0,56.0,NaN

In [40]:
df2=df2.dropna()
df2

,Nature mutation,Valeur fonciere,Code postal,Commune,Code type local,Surface reelle bati,Surface terrain
0,Vente,"185000,00",1370,VAL-REVERMONT,1.0,97.0,2410.0
1,Vente,"185000,00",1370,VAL-REVERMONT,3.0,0.0,2410.0
3,Vente,"204332,00",1310,BUELLAS,1.0,88.0,866.0
4,Vente,"320000,00",1250,MONTAGNAT,3.0,0.0,1426.0
5,Vente,"320000,00",1250,MONTAGNAT,1.0,168.0,1426.0
...,...,...,...,...,...,...,...
4375192,Vente,"2000000,00",75002,PARIS 02,2.0,39.0,77.0
4375193,Vente,"2000000,00",75002,PARIS 02,2.0,39.0,77.0
4375194,Vente,"2000000,00",75002,PARIS 02,2.0,39.0,77.0
4375195,Vente,"2000000,00",75002,PARIS 02,2.0,12.0,77.0
4375196,Vente,"2000000,00",75002,PARIS 02,2.0,39.0,77.0

In [46]:
df2=df2[df2["Code postal"].str.startswith('1300')|df2["Code postal"].str.startswith('1301')]
df2.sample(10)

,Nature mutation,Valeur fonciere,Code postal,Commune,Code type local,Surface reelle bati,Surface terrain
417444,Vente,"430000,00",13012,MARSEILLE 12EME,1.0,140.0,288.0
403047,Vente,"630000,00",13001,MARSEILLE 1ER,2.0,40.0,56.0
406198,Vente,"1900000,00",13006,MARSEILLE 6EME,2.0,30.0,422.0
419930,Vente,"1500000,00",13003,MARSEILLE 3EME,2.0,59.0,159.0
416444,Vente,"440000,00",13001,MARSEILLE 1ER,4.0,60.0,123.0
430787,Vente,"448450,00",13011,MARSEILLE 11EME,3.0,0.0,785.0
413244,Vente,"369550,00",13012,MARSEILLE 12EME,3.0,0.0,343.0
417959,Vente,"618250,00",13009,MARSEILLE 9EME,1.0,75.0,145.0
426285,Vente,"295000,00",13011,MARSEILLE 11EME,3.0,0.0,244.0
425294,Vente,"300000,00",13003,MARSEILLE 3EME,2.0,30.0,99.0