In [3]:
import pandas as pd

In [19]:
df=pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/817204ac-2202-4b4a-98e7-4184d154d98c", sep="|", low_memory=False)
df

,Code service sages,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2021,Vente,...,NaN,0,1.0,Maison,NaN,97.0,5.0,S,NaN,2410.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2021,Vente,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,2410.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2021,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,530.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2021,Vente,...,NaN,0,1.0,Maison,NaN,88.0,4.0,S,NaN,866.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2021,Vente,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,1426.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12/03/2021,Vente,...,NaN,2,2.0,Appartement,NaN,30.0,2.0,NaN,NaN,NaN
4375219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,17/03/2021,Vente,...,NaN,2,2.0,Appartement,NaN,37.0,2.0,NaN,NaN,NaN
4375220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,19/03/2021,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
4375221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30/03/2021,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
4375222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,19/03/2021,Vente,...,NaN,2,4.0,Local industriel. commercial ou assimilé,NaN,56.0,0.0,NaN,NaN,NaN

In [20]:
df2=df[['Nature mutation','Valeur fonciere','Code postal','Commune','Code type local','Surface reelle bati','Surface terrain']]
df2

,Nature mutation,Valeur fonciere,Code postal,Commune,Code type local,Surface reelle bati,Surface terrain
0,Vente,"185000,00",1370.0,VAL-REVERMONT,1.0,97.0,2410.0
1,Vente,"185000,00",1370.0,VAL-REVERMONT,3.0,0.0,2410.0
2,Vente,"10,00",1290.0,BEY,NaN,NaN,530.0
3,Vente,"204332,00",1310.0,BUELLAS,1.0,88.0,866.0
4,Vente,"320000,00",1250.0,MONTAGNAT,3.0,0.0,1426.0
...,...,...,...,...,...,...,...
4375218,Vente,"383000,00",75004.0,PARIS 04,2.0,30.0,NaN
4375219,Vente,"260000,00",75002.0,PARIS 02,2.0,37.0,NaN
4375220,Vente,"38000,00",75004.0,PARIS 04,3.0,0.0,NaN
4375221,Vente,"38000,00",75004.0,PARIS 04,3.0,0.0,NaN
4375222,Vente,"690000,00",75002.0,PARIS 02,4.0,56.0,NaN

In [21]:
df2 = df2.applymap(lambda x: x.replace(',', '.') if isinstance(x, str) else x)

In [22]:
df2=df2.dropna().astype({"Code type local":int, 'Nature mutation':str, 'Commune':str, 'Surface reelle bati':float, 'Surface terrain':float, 'Code postal':int, 'Valeur fonciere':float})
df2=df2.astype({"Code type local":str, "Code postal":str})
df2

,Nature mutation,Valeur fonciere,Code postal,Commune,Code type local,Surface reelle bati,Surface terrain
0,Vente,185000.0,1370,VAL-REVERMONT,1,97.0,2410.0
1,Vente,185000.0,1370,VAL-REVERMONT,3,0.0,2410.0
3,Vente,204332.0,1310,BUELLAS,1,88.0,866.0
4,Vente,320000.0,1250,MONTAGNAT,3,0.0,1426.0
5,Vente,320000.0,1250,MONTAGNAT,1,168.0,1426.0
...,...,...,...,...,...,...,...
4375192,Vente,2000000.0,75002,PARIS 02,2,39.0,77.0
4375193,Vente,2000000.0,75002,PARIS 02,2,39.0,77.0
4375194,Vente,2000000.0,75002,PARIS 02,2,39.0,77.0
4375195,Vente,2000000.0,75002,PARIS 02,2,12.0,77.0
4375196,Vente,2000000.0,75002,PARIS 02,2,39.0,77.0

In [23]:
df3=df2[df2["Code postal"].isin(['13000','13001','13002','13003','13004','13005','13006','13007','13008','13009','13010','13011','13012','13013','13014','13015','13016','13017'])]
df3.sample(10)

,Nature mutation,Valeur fonciere,Code postal,Commune,Code type local,Surface reelle bati,Surface terrain
439053,Vente,302000.0,13011,MARSEILLE 11EME,1,85.0,146.0
418510,Vente,600000.0,13006,MARSEILLE 6EME,2,52.0,120.0
438261,Vente,485000.0,13011,MARSEILLE 11EME,1,96.0,616.0
415048,Vente,486550.0,13008,MARSEILLE 8EME,3,0.0,147.0
424448,Vente,138000.0,13013,MARSEILLE 13EME,2,42.0,52.0
413054,Vente,720000.0,13009,MARSEILLE 9EME,3,0.0,573.0
406810,Vente,525000.0,13007,MARSEILLE 7EME,1,80.0,244.0
438094,Vente,520000.0,13012,MARSEILLE 12EME,2,24.0,404.0
430333,Vente,2190500.0,13001,MARSEILLE 1ER,4,268.0,108.0
406388,Vente,1800000.0,13007,MARSEILLE 7EME,3,0.0,154.0